<div class="candidate-card" [class.second]="rank === 2" [class.third]="rank === 3">
    <div class="rank-badge">{{ rank }}</div>

    <div class="party-icon" [style.backgroundImage]="'url(' + './images/' + candidate.candidate_id + '.jpg' + ')'">
    </div>

    <div class="candidate-info">
        <h2 class="candidate-name">{{ candidate.name }}</h2>
        <p class="party-name">{{ candidate.party }}</p>
    </div>

    <div class="votes-section">
        <div class="votes">
            <span class="votes-label">Votos</span>
            <span class="votes-value">{{ candidate.votes | number }}</span>
        </div>
        <div class="percentage">
            <span class="percentage-label">Porcentaje</span>
            <span class="percentage-value">{{ candidate.percentage | number: '1.2-2' }}%</span>
        </div>
    </div>
    <!-- 
    @if (voteDifference !== null && percentageDifference !== null) { -->
    <div class="difference-section">
        <div class="difference-badge">vs candidato anterior</div>
        <div class="difference-row">
            <span class="diff-label">Diferencia de votos:</span>
            <span class="diff-value">
                {{ voteDifference | number }}
            </span>
        </div>
        <div class="difference-row">
            <span class="diff-label">Diferencia %:</span>
            <span class="diff-value">
                {{ percentageDifference | number: '1.2-2' }}%
            </span>
        </div>
    </div>
    <!-- } -->
</div>